/* Gradients
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Bordered
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Rounded
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Opacity
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Transition
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Shawows
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Columns
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Fonts
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Spacing
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Other
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Grid System 12 Columns
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.col-1 {
  width: 8.33333333%;
}
.col-2 {
  width: 16.66666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333%;
}
.col-5 {
  width: 41.66666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333333%;
}
.col-8 {
  width: 66.66666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333%;
}
.col-11 {
  width: 91.66666667%;
}
.col-12 {
  width: 100%;
}
.wrapper {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
header.header_top {
  background: #2c813c;
}
header.header_top .main_line {
  background-color: #2a7b39;
}
header.header_top .main_line .top_line {
  min-height: 115px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
header.header_top .main_line .top_item {
  width: 100%;
}
header.header_top .main_line .top_item.logo_box {
  text-align: center;
}
header.header_top .main_line .top_item.phone_box {
  line-height: 22px;
}
header.header_top .main_line .top_item.phone_box .label_for_phone {
  display: block;
  color: #9ac36d;
  font-size: 12px;
}
header.header_top .main_line .top_item.phone_box .phone_number {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}
header.header_top .main_line .top_item.search_box {
  text-align: right;
}
header.header_top .main_line .top_item.search_box form.search fieldset.form_container {
  background: #2f723b;
  display: inline-block;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0 17px;
  border-bottom: 1px solid #3f8946;
}
header.header_top .main_line .top_item.search_box form.search fieldset.form_container #searchsubmit {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #9ac36d;
}
header.header_top .main_line .top_item.search_box form.search fieldset.form_container .searchinput {
  background: transparent;
  border: none;
  color: #9ac36d;
}
header.header_top .main_navigation {
  min-height: 60px;
  background: #9ac36d;
  color: #FFF;
  -webkit-box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.35);
  box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.35);
  z-index: 9999;
  margin-bottom: 23px;
}
header.header_top .main_navigation .header_nav a {
  color: inherit;
}
header.header_top .main_navigation .header_nav ul.menu-header {
  display: block;
  text-align: center;
}
header.header_top .main_navigation .header_nav li {
  display: inline-block;
  font-size: 14px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 60px;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}
header.header_top .main_navigation .header_nav li a {
  padding: 0 30px;
  display: block;
}
header.header_top .main_navigation .header_nav li:first-child {
  border-left: 1px solid rgba(0, 0, 0, 0.05);
}
header.header_top .main_navigation .header_nav li.current-menu-item a,
header.header_top .main_navigation .header_nav li a:hover {
  color: #ffde5a;
  background: rgba(0, 0, 0, 0.05);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.14) 0%, rgba(0, 0, 0, 0.03) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.14)), color-stop(100%, rgba(0, 0, 0, 0.03)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.14) 0%, rgba(0, 0, 0, 0.03) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.14) 0%, rgba(0, 0, 0, 0.03) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.14) 0%, rgba(0, 0, 0, 0.03) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.14) 0%, rgba(0, 0, 0, 0.03) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
}
.breadcrumbs_section {
  background: #2c813c;
}
.breadcrumbs_section .breadcrumbs_line {
  height: 40px;
  width: 100%;
  display: flex;
  align-content: space-between;
  align-items: center;
}
.breadcrumbs_section .breadcrumbs_line .left_line_bread,
.breadcrumbs_section .breadcrumbs_line .right_line_bread {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.15);
  display: block;
  flex-grow: 1;
}
.breadcrumbs_section .breadcrumbs_line .breadcrumbs {
  display: inline-block;
  padding: 0 60px;
  font-size: 12px;
  color: #2d4231;
  text-align: center;
}
.breadcrumbs_section .breadcrumbs_line .breadcrumbs a {
  color: #9ac36d;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.breadcrumbs_section .breadcrumbs_line .breadcrumbs a:hover {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  -webkit-opacity: 0.7;
  opacity: 0.7;
}
.breadcrumbs_section .breadcrumbs_line .delimetr {
  padding: 0 13px;
  color: #ffde5a;
}
.breadcrumbs_section .breadcrumbs_line .current {
  display: inline-block;
}
footer.theme_footer {
  background-color: #ededed;
  padding: 70px 0;
}
footer.theme_footer .footer {
  width: 94%;
  background: #FFF;
  max-width: 1600px;
  margin: 0 auto;
  min-height: 300px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 7px 35px -2px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 7px 35px -2px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 7px 35px -2px rgba(0, 0, 0, 0.17);
}
footer.theme_footer .footer .top_footer {
  border-bottom: 1px solid #e5e5e5;
}
footer.theme_footer .footer .top_footer .social_container {
  min-height: 90px;
  display: flex;
  align-content: space-between;
  align-items: center;
}
footer.theme_footer .footer .top_footer .social_container .social_profiles {
  text-transform: uppercase;
  font-size: 14px;
  color: #2e3830;
  font-weight: 700;
  width: 100%;
}
footer.theme_footer .footer .top_footer .social_container .social_profiles a {
  color: inherit;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  margin-right: 30px;
}
footer.theme_footer .footer .top_footer .social_container .social_profiles a:hover {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  color: #2a7b39;
}
footer.theme_footer .footer .top_footer .social_container .social_profiles a:hover.you {
  color: #f14f4f;
}
footer.theme_footer .footer .top_footer .social_container .social_profiles a:hover.twi {
  color: #00aced;
}
footer.theme_footer .footer .top_footer .social_container .social_share {
  width: 100%;
  text-align: right;
}
footer.theme_footer .footer .bottom_footer {
  color: #898989;
  font-size: 12px;
  line-height: 18px;
}
footer.theme_footer .footer .bottom_footer p {
  color: inherit;
  line-height: 18px;
}
footer.theme_footer .footer .bottom_footer .contacts_footer_box {
  min-height: 200px;
  display: flex;
  align-items: center;
  align-content: space-between;
}
footer.theme_footer .footer .bottom_footer .contacts_footer_box .footer_logo {
  width: 33.33%;
}
footer.theme_footer .footer .bottom_footer .contacts_footer_box .footer_info {
  width: 66.666%;
  display: flex;
  align-items: center;
  align-content: space-between;
  text-align: right;
}
footer.theme_footer .footer .bottom_footer .contacts_footer_box .footer_info .item_contacts {
  width: 30%;
  min-height: 75px;
  border-right: 1px solid #e7e7e7;
  padding-right: 35px;
  box-sizing: border-box;
}
footer.theme_footer .footer .bottom_footer .contacts_footer_box .footer_info .item_contacts .contacts_label {
  color: #434343;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 14px;
  display: block;
}
footer.theme_footer .footer .bottom_footer .contacts_footer_box .footer_info .item_contacts .footer_phone {
  font-size: 18px;
}
footer.theme_footer .footer .bottom_footer .contacts_footer_box .footer_info .item_contacts .footer_email a {
  color: inherit;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
footer.theme_footer .footer .bottom_footer .contacts_footer_box .footer_info .item_contacts .footer_email a:hover {
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  -webkit-opacity: 0.7;
  opacity: 0.7;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
footer.theme_footer .footer .bottom_footer .contacts_footer_box .footer_info .item_address {
  width: 30%;
  min-height: 75px;
  border-right: 1px solid #e7e7e7;
  padding-right: 35px;
  padding-left: 30px;
  box-sizing: border-box;
}
footer.theme_footer .footer .bottom_footer .contacts_footer_box .footer_info .item_address .address_label {
  color: #434343;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 14px;
  display: block;
}
footer.theme_footer .footer .bottom_footer .contacts_footer_box .footer_info .item_copyrights {
  width: 40%;
  min-height: 75px;
  padding-left: 40px;
  box-sizing: border-box;
}
/* Blog single page styles */
.site_container .page_heading {
  width: 100%;
  min-height: 85px;
  background: #2c813c;
  text-align: center;
}
.site_container .page_heading h2.page_title {
  letter-spacing: 0.3em;
  font-size: 43px;
  color: #ffde5a;
  font-weight: 600;
  line-height: 60px;
  text-transform: uppercase ;
  margin: 0;
}
.site_container .single_post .post_image {
  max-width: 1380px;
  margin: 0 auto;
  width: 94%;
}
.site_container .single_post .post_image img {
  max-width: 100%;
  height: auto;
}
.site_container .single_post .post_title_section {
  position: relative;
  text-align: center;
  background: #ededed;
  padding: 70px 130px;
  margin-top: -80px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-radius: 2px 2px 0px 0px;
  border-radius: 2px 2px 0px 0px;
}
.site_container .single_post .post_title_section .post_info {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 50px;
}
.site_container .single_post .post_title_section .post_info .post_category,
.site_container .single_post .post_title_section .post_info .post_comments_count,
.site_container .single_post .post_title_section .post_info .post_date {
  padding: 0 14px;
  font-size: 11px;
  line-height: 20px;
  color: #898989;
}
.site_container .single_post .post_title_section .post_info .post_category.post_comments_count,
.site_container .single_post .post_title_section .post_info .post_comments_count.post_comments_count,
.site_container .single_post .post_title_section .post_info .post_date.post_comments_count {
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  height: 20px;
}
.site_container .single_post .post_title_section .post_info .post_category.post_category a,
.site_container .single_post .post_title_section .post_info .post_comments_count.post_category a,
.site_container .single_post .post_title_section .post_info .post_date.post_category a {
  background: #aac07e;
  display: block;
  padding: 0 7px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #ffffff;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.site_container .single_post .post_title_section .post_info .post_category.post_category a:hover,
.site_container .single_post .post_title_section .post_info .post_comments_count.post_category a:hover,
.site_container .single_post .post_title_section .post_info .post_date.post_category a:hover {
  background-color: #000000;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.site_container .single_post .post_title_section .post_info .post_category i.fa,
.site_container .single_post .post_title_section .post_info .post_comments_count i.fa,
.site_container .single_post .post_title_section .post_info .post_date i.fa {
  color: #c2c2c2;
  font-size: 15px;
  margin-right: 5px;
}
.site_container .single_post .post_title_section h3.post_title {
  font-size: 54px;
  color: #000000;
  line-height: 64px;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.site_container .single_post .post_title_section span.post_sub_title {
  display: block;
  font-size: 12px;
  color: #898989;
  padding: 0 20%;
}
.site_container .single_post .post_content_section {
  background: #f6f6f6;
  padding: 80px 130px;
  font-size: 13px;
  line-height: 24px;
}
.site_container .single_post .post_content_section p {
  font-size: 13px;
  line-height: 24px;
  color: #555555;
}
.site_container .single_post .post_content_section blockquote {
  font-size: 18px;
  line-height: 22px;
  color: #555555;
  position: relative;
  margin: 45px 45px 45px 0;
  width: 55%;
  float: left;
}
.site_container .single_post .post_content_section blockquote p {
  font-size: 18px;
  line-height: 22px;
  color: #555555;
}
.site_container .single_post .post_content_section blockquote p:last-child {
  margin-bottom: 0;
}
.site_container .single_post .post_content_section blockquote::before {
  content: "\f10d";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: -10px;
  margin-left: -20px;
  color: #e5e5e5;
}
