@import 'elements.less';
@main_color: #2a7b39;
@secondary_color: #9ac36d;
@search_color: #2f723b;
@yellow: #ffde5a;

.wrapper {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

header.header_top {
    background: #2c813c;
    .main_line  {
        background-color: @main_color;

        .top_line {
            min-height: 115px;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .top_item {
            width: 100%;

            &.logo_box {
                text-align: center;
            }
    
            &.phone_box{
                line-height: 22px;
                .label_for_phone{
                    display: block;
                    color: @secondary_color;
                    font-size: 12px;
                }
                .phone_number {
                    color: #ffffff;
                    font-size: 18px;
                    font-weight: 700;
                }
            }
            &.search_box {
                text-align: right;
    
                form.search {
                    fieldset.form_container {
                        background: @search_color;
                        display: inline-block;
                        .rounded(20px);
                        padding: 0 17px;
                        border-bottom: 1px solid #3f8946;
    
                        #searchsubmit {
                            display: inline-block;
                            font: normal normal normal 14px/1 FontAwesome;
                            font-size: inherit;
                            text-rendering: auto;
                            -webkit-font-smoothing: antialiased; 
                            -moz-osx-font-smoothing: grayscale;
                            color: @secondary_color;
                        }
                        .searchinput {
                            background: transparent;
                            border: none;
                            color: @secondary_color;
                            
                        }
                    }
                }
            }
        }
    }
    .main_navigation {
        min-height: 60px;
        background: @secondary_color;
        color:#FFF;
        -webkit-box-shadow: 0 10px 15px -5px rgba(0,0,0,0.35);
        -moz-box-shadow: 0 10px 15px -5px rgba(0,0,0,0.35);
        box-shadow: 0 10px 15px -5px rgba(0,0,0,0.35);
        z-index: 9999;
        margin-bottom: 23px;

        .header_nav {
            a {
                color:inherit;
              }
            ul.menu-header {
                display: block;
                text-align: center;
            }
            li {
                display: inline-block;
                font-size: 14px;
                letter-spacing: 0.12em;
                text-transform: uppercase;
                font-weight: 700;
                line-height: 60px;
                border-right: 1px solid rgba(0,0,0,0.05);

                a {
                    padding: 0 30px;
                    display: block;
                }

                &:first-child {
                    border-left: 1px solid rgba(0,0,0,0.05);
                }
                &.current-menu-item a, a:hover{
                    color: @yellow;
                    background: rgba(0,0,0,0.05);
                    background: -moz-linear-gradient(top, rgba(0,0,0,0.14) 0%, rgba(0,0,0,0.03) 100%);
                    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.14)), color-stop(100%, rgba(0,0,0,0.03)));
                    background: -webkit-linear-gradient(top, rgba(0,0,0,0.14) 0%, rgba(0,0,0,0.03) 100%);
                    background: -o-linear-gradient(top, rgba(0,0,0,0.14) 0%, rgba(0,0,0,0.03) 100%);
                    background: -ms-linear-gradient(top, rgba(0,0,0,0.14) 0%, rgba(0,0,0,0.03) 100%);
                    background: linear-gradient(to bottom, rgba(0,0,0,0.14) 0%, rgba(0,0,0,0.03) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
                }
            }
        } 
    } 
}

.breadcrumbs_section {
    background: #2c813c;

    .breadcrumbs_line {
        height: 40px;
        width: 100%;
        display: flex;
        align-content: space-between;
        align-items: center;

        .left_line_bread, .right_line_bread {
            height: 1px;
            background-color: rgba(255,255,255, 0.15);
            display: block;
            flex-grow: 1;
        }
        .breadcrumbs {
            display: inline-block;
            padding: 0 60px;
            font-size: 12px;
            color: #2d4231;
            text-align: center;

            a {
                color: @secondary_color;
                .transition(all 300ms ease-in-out);

                &:hover {
                    .transition(all 300ms ease-in-out);
                    .opacity(0.7);
                }
            }
        }
        .delimetr {
            padding: 0 13px;
            color: @yellow;
        }
        .current {
            display: inline-block;
        }
    }
}

footer.theme_footer {
    background-color: #ededed;
    padding: 70px 0;
  
    .footer {
      width: 94%;
      background: #FFF;
      max-width: 1600px;
      margin: 0 auto;
      min-height: 300px;
      .rounded(10px);
      -webkit-box-shadow: 0px 7px 35px -2px rgba(0,0,0,0.17);
      -moz-box-shadow: 0px 7px 35px -2px rgba(0,0,0,0.17);
      box-shadow: 0px 7px 35px -2px rgba(0,0,0,0.17);
  
      .top_footer {
        border-bottom: 1px solid #e5e5e5;
        .social_container {
          min-height: 90px;
          display: flex;
          align-content: space-between;
          align-items: center;
  
  
          .social_profiles {
            text-transform: uppercase;
            font-size:14px;
            color:#2e3830;
            font-weight: 700;
            width: 100%;
  
            a {
              color:inherit;
              .transition(all 300ms ease-in-out);
              margin-right: 30px;
  
              &:hover {
                .transition(all 300ms ease-in-out);
                color:@main_color;
  
                &.you {
                  color:#f14f4f
                }
                &.twi {
                  color:#00aced;
                }
              }
            }
          }
          .social_share {
            width: 100%;
            text-align: right;
          }
        }
      }
      .bottom_footer {
        color: #898989;
        font-size: 12px;
        line-height: 18px;
  
        p {
          color:inherit;
          line-height: 18px;
        }
  
        .contacts_footer_box {
          min-height: 200px;
          display: flex;
          align-items: center;
          align-content: space-between;
  
          .footer_logo {
            width: 33.33%;
          }
          .footer_info {
            width: 66.666%;
            display: flex;
            align-items: center;
            align-content: space-between;
            text-align: right;
  
            .item_contacts {
              width: 30%;
              min-height: 75px;
              border-right:1px solid #e7e7e7;
              padding-right: 35px;
              box-sizing: border-box;
  
              .contacts_label {
                color:#434343;
                text-transform: uppercase;
                font-size:14px;
                font-weight: 700;
                margin-bottom: 20px;
                line-height: 14px;
                display: block;
              }
              .footer_phone {
                font-size: 18px;
  
              }
              .footer_email {
  
                a {
                  color:inherit;
                  .transition(all 300ms ease-in-out);
  
                  &:hover {
                    .opacity(0.7);
                    .transition(all 300ms ease-in-out);
                  }
                }
              }
            }
            .item_address {
              width: 30%;
              min-height: 75px;
              border-right:1px solid #e7e7e7;
              padding-right: 35px;
              padding-left: 30px;
              box-sizing: border-box;
  
              .address_label {
                color:#434343;
                text-transform: uppercase;
                font-size:14px;
                font-weight: 700;
                margin-bottom: 20px;
                line-height: 14px;
                display: block;
              }
            }
            .item_copyrights {
              width: 40%;
              min-height: 75px;
              padding-left: 40px;
              box-sizing: border-box;
            }
          }
        }
      }
    }
  }

  /* Blog single page styles */
  .site_container {
    
    .page_heading {
      width: 100%;
      min-height: 85px;
      background: #2c813c;
      text-align: center;

      h2.page_title {
        letter-spacing: 0.3em;
        font-size: 43px;
        color: @yellow;
        font-weight: 600;
        line-height: 60px;
        text-transform: uppercase ;
        margin: 0;
      }
    }
    .single_post {
      .post_image {
        max-width: 1380px;
        margin: 0 auto;
        width: 94%;
        img {
          max-width: 100%;
          height: auto;
        }
      }
      .post_title_section {
        position: relative;
        text-align: center; 
        background: #ededed;
        padding: 70px 130px;
        margin-top: -80px;
        .rounded-corners(2px, 2px, 0px, 0px);

        .post_info {
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: center;
          margin-bottom: 50px;

          .post_category, .post_comments_count, .post_date {
              padding: 0 14px;
              font-size: 11px;
              line-height: 20px;
              color: #898989;

              &.post_comments_count {
                border-left: 1px solid #e0e0e0;
                border-right: 1px solid #e0e0e0;
                height: 20px;
              }
              &.post_category {
                a {
                  background: #aac07e;
                  display: block;
                  padding: 0 7px;
                  .rounded(2px);
                  color: #ffffff;
                  font-size: 11px;
                  font-weight: 700;
                  text-transform: uppercase;
                  .transition(all 300ms ease-in-out);
                  &:hover {
                    background-color: #000000;
                    .transition(all 300ms ease-in-out);
                  }
                }
              }
              i.fa {
                color: #c2c2c2;
                font-size: 15px;
                margin-right: 5px;
              }
          }
        }
        
        h3.post_title {
          font-size: 54px;
          color: #000000;
          line-height: 64px;
          text-transform: uppercase;
          margin-bottom: 35px;
        }
        span.post_sub_title {
          display: block;
          font-size: 12px;
          color: #898989;
          padding: 0 20%;
        }
      }
      .post_content_section {
        background: #f6f6f6;
        padding: 80px 130px;
        font-size: 13px;
        line-height: 24px;

        p {
          font-size: 13px;
          line-height: 24px;
          color: #555555;
        }
        blockquote {
          font-size: 18px;
          line-height: 22px;
          color: #555555;
          position: relative;
          margin: 45px 45px 45px 0;
          width: 55%;
          float: left;

          p {
            font-size: 18px;
            line-height: 22px;
            color: #555555;

            &:last-child {
              margin-bottom: 0;
            }
          }

          &::before {
            content: "\f10d";
            position: absolute;
            top:0;
            left:0;
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            margin-top: -10px;
            margin-left: -20px;
            color:#e5e5e5;
          }
        }
      }
    }
  }


